.notesInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.delButton {
    color: #d9534f;
    border: 1px solid;
    margin-left: 10px;
}

.delButton:hover {
    background-color: #d9534f;
    color: #f9f9f7;
    border: 1px solid #d9534f;
}

.accDelButton {
    color: #555;
    border: 1px solid;
    margin-left: 10px;
}

.logoutButton {
    border: 1px solid;
}

.logoutButton:hover,
.accDelButton:hover {
    background-color: #555;
    color: #f9f9f7;
    border-color: #555;
}

.cancel {
    color: #555;
    border: 1px solid;
    margin-left: 10px;
}

.cancel:hover {
    color: green;
}

.submitButton {
    background-color: #6cace4;
    color: #f9f9f7;
    border: 1px solid #6cace4;
}

.submitButton:hover {
    background-color: #f9f9f7;
    color: #6cace4;
}

.edit {
    border: 1px solid #555;
}

.edit:hover {
    background-color: #f9f9f7;
}

.notesContent,
#delCnf {
    margin-bottom: 10px;
}

#searchBar {
    margin-bottom: 10px;
    width: 328px;
}

#greet {
    margin-top: 5px;
    color: #555;
}

#notesSerial {
    color: #b5b5b5;
    border-bottom: 1px solid;
    border-radius: 5px;
    font-size: 15px;
}

.dashboard {
    width: 350px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard input,
.dashboard textarea {
    width: 325px;
}

.dashboard>*+* {
    border-top: 1px solid #ccc;
}

.dashboard .d1 {
    align-self: flex-end;
}

.notesList {
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.notesList>*+* {
    margin-top: 5px;
}

.notesList>div {
    border: 1px solid #ccc;
    padding: 2.5px 7.5px 5px 7.5px;
    border-radius: 6px;
    background-color: #fff7e8;
}

.notesList>div h3 {
    font-weight: 400;
    font-size: 17px;
}

.notesContent {
    color: #555;
    border: 1px solid #ccc;
    background-color: #f9f9f7;
    border-radius: 6px;
    padding: 2.5px 5px;
}

.noteDate {
    font-family: "Roboto";
    font-size: small;
    color: #ccc;
    display: inline-block;
    margin-left: 95px;
}